/* Custom table design. */
.table-component {
  margin: 100px auto 0;
  max-width: 1140px;
  height: 690px;
  overflow-y: scroll; }

table {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px #fff; }
  table th,
  table td {
    white-space: nowrap;
    border-bottom: 1px solid #edecf1;
    text-align: left;
    padding: 12px; }
  table th {
    font-size: 12px;
    position: sticky;
    top: 0;
    color: #7a8289;
    background-color: #f9fafc;
    z-index: 1; }
  table .user-name {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000; }
    table .user-name img {
      height: 36px;
      width: 36px;
      border-radius: 100%;
      object-fit: cover;
      object-position: bottom; }
  table .user-role {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 5px;
    gap: 5px; }
    table .user-role.administrator {
      color: #1a56db;
      background-color: #e2efff; }
    table .user-role.viewer {
      color: #565e6b;
      background-color: #f3f4f6; }
    table .user-role.moderator {
      color: #7d4ec6;
      background-color: #e9ebf8; }
  table .status {
    align-items: center;
    font-weight: 500;
    color: #141726; }
    table .status .status-icon {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px; }
      table .status .status-icon.active {
        background-color: #07a16d; }
      table .status .status-icon.inactive {
        background-color: #f2534f; }
  table .social-profile ion-icon {
    font-size: 18px;
    margin-right: 2px; }
    table .social-profile ion-icon:hover {
      cursor: pointer; }
  table .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #141726; }
    table .rating .arrow-up {
      color: #1fa779; }
    table .rating .arrow-down {
      color: #e44745; }
  table .more-icon {
    font-size: 16px;
    transform: rotate(90deg);
    padding: 3px 5px;
    cursor: pointer; }
    table .more-icon:hover {
      background-color: #f3f3f5;
      border-radius: 5px; }

input[id="0"] {
  display: none; }

input[id="0"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="0"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="1"] {
  display: none; }

input[id="1"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="1"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="2"] {
  display: none; }

input[id="2"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="2"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="3"] {
  display: none; }

input[id="3"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="3"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="4"] {
  display: none; }

input[id="4"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="4"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="5"] {
  display: none; }

input[id="5"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="5"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="6"] {
  display: none; }

input[id="6"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="6"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="7"] {
  display: none; }

input[id="7"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="7"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="8"] {
  display: none; }

input[id="8"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="8"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="9"] {
  display: none; }

input[id="9"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="9"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="10"] {
  display: none; }

input[id="10"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="10"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="11"] {
  display: none; }

input[id="11"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="11"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="12"] {
  display: none; }

input[id="12"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="12"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="13"] {
  display: none; }

input[id="13"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="13"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="14"] {
  display: none; }

input[id="14"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="14"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

input[id="15"] {
  display: none; }

input[id="15"] + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  cursor: pointer; }

input[id="15"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: "\2714";
  font-size: 14px; }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="1"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="1"]:checked + .slider {
  background-color: #2196f3; }
  input[id="1"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="1"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="1"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="2"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="2"]:checked + .slider {
  background-color: #2196f3; }
  input[id="2"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="2"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="2"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="3"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="3"]:checked + .slider {
  background-color: #2196f3; }
  input[id="3"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="3"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="3"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="4"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="4"]:checked + .slider {
  background-color: #2196f3; }
  input[id="4"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="4"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="4"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="5"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="5"]:checked + .slider {
  background-color: #2196f3; }
  input[id="5"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="5"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="5"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="6"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="6"]:checked + .slider {
  background-color: #2196f3; }
  input[id="6"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="6"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="6"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="7"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="7"]:checked + .slider {
  background-color: #2196f3; }
  input[id="7"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="7"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="7"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="8"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="8"]:checked + .slider {
  background-color: #2196f3; }
  input[id="8"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="8"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="8"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="9"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="9"]:checked + .slider {
  background-color: #2196f3; }
  input[id="9"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="9"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="9"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="10"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="10"]:checked + .slider {
  background-color: #2196f3; }
  input[id="10"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="10"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="10"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="11"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="11"]:checked + .slider {
  background-color: #2196f3; }
  input[id="11"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="11"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="11"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="12"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="12"]:checked + .slider {
  background-color: #2196f3; }
  input[id="12"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="12"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="12"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="13"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="13"]:checked + .slider {
  background-color: #2196f3; }
  input[id="13"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="13"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="13"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="14"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="14"]:checked + .slider {
  background-color: #2196f3; }
  input[id="14"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="14"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="14"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px; }
  .switch input[id="15"] {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%; }

input[id="15"]:checked + .slider {
  background-color: #2196f3; }
  input[id="15"]:checked + .slider:before {
    transform: translateX(26px); }
input[id="15"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }
  input[id="15"]:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

/* Custom radion button design. */
.radio-button-style-1 .container {
  position: relative;
  padding: 0 25px; }
  .radio-button-style-1 .container:hover {
    cursor: pointer; }
.radio-button-style-1 input {
  display: none; }
  .radio-button-style-1 input:hover ~ .checkmark {
    background-color: #ccc;
    cursor: pointer; }
    .radio-button-style-1 input:hover ~ .checkmark::before {
      position: absolute;
      display: block;
      content: "";
      width: 7px;
      height: 7px;
      top: 50%;
      left: 50%;
      background-color: #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%); }
  .radio-button-style-1 input:checked ~ .checkmark {
    background-color: #ccc; }
    .radio-button-style-1 input:checked ~ .checkmark::before {
      position: absolute;
      display: block;
      content: "";
      width: 7px;
      height: 7px;
      top: 50%;
      left: 50%;
      background-color: #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%); }
.radio-button-style-1 .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #ccc;
  border-radius: 50%; }

.radio-button-style-2 {
  margin-top: 15px; }
  .radio-button-style-2 .container {
    position: relative;
    padding: 0 25px; }
    .radio-button-style-2 .container:hover {
      cursor: pointer; }
  .radio-button-style-2 input {
    display: none; }
    .radio-button-style-2 input:hover ~ .checkmark {
      background-color: #2196f3;
      cursor: pointer; }
    .radio-button-style-2 input:checked ~ .checkmark {
      background-color: #2196f3; }
  .radio-button-style-2 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
    border-radius: 50%; }

.radio-button-style-3 {
  margin-top: 15px; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #6c737f;
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
